################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PSARCHeader/bin/*
/PSArcHandler/bin/*