################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PSARCHeader/bin/Debug/TestFiles/NMSARC.B9700502.pak
